@import url('https://fonts.googleapis.com/css?family=Orbitron');

body {
  background: #242829;
    color: #95adca;
}

.header {
    text-align:center;
}

.controlButton {
    font-size: 20px !important;
    min-width: inherit !important;
    padding: 10px 12px !important;
    border-radius: 0px !important;
    border-right: 1px solid #e0f9ff30 !important;
    height: 50px;
    background: linear-gradient(#3b3a3e,#1d1f25,#242529) !important;
    font-family:Orbitron;
    text-transform: inherit !important;
    color: #95adca !important;
}

.controls {
    display: inline-block;
    margin: 5px;
    border: solid 2px #1e1d22 !important;
}

.channels {
    margin-top: 30px;
    width:25%;
    float:left;
}

.timeline {
    width: 3000px;
}

.timeline-container {
    width:75%;
    float:left;
    margin:0;
    position: relative;
    overflow:auto;
}

.channel {
    overflow: auto;
    overflow-x: hidden;
    border-bottom: 1px solid #4242422e;
    padding: 5px;
}

.channel-icon {
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
    width: 20%;
    margin: 0 5% 0 0;
    background: #95adca;
    float: left;
}

.channel img {
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
    width: 20%;
    margin: 0 5% 0 0;
    background: #95adca;
    float: left;
}

.channel-details {
    width:75%;
    margin:0;
    display: inline-block;
}

.channel-details p {
    margin: 10px 0 12px 0;
}

.channel-button {
    background: #95adc9 !important;
    min-width: inherit !important;
    font-size: 12px !important;
    margin-right: 10px !important;
}

.volume-slider {
    display: inline-block;
    width: 55% !important;
    margin-right: 20px;
    top: -6px;
}

.volume-track {
    height:7px !important;
}

.channel-details svg {
    font-size: 20px;
    margin-right: 10px;
}


.timebar {
    background: rgba(106, 113, 122, 0.45);
    height: 30px;
}

.audioSnippet {
    display: inline-block;
    background: #95adca29;
    border-radius: 5px;
}
.timebar-channel {
    position: relative;
    height: 80px;
    width: 100%;
    background: #101213;
    border-bottom: 1px solid #43494e82;
}

.playLine {
    width: 1px;
    height: 100%;
    z-index: 1;
    background: #ffffff63;
    position: absolute;
}

#root {
    flex-grow: 1;
}
