<!--<body>
<app-menu></app-menu>
  <main>
    <div class="topBand">
      <h2> ETID MY BAND </h2><br><br>
      <div class="photo">
        <img [src]="imageUrl">
        <input formControlName="icon" type="file" #Image accept="image/*" (change)="handleFileInput($event.target.files)">
      </div>
      <section>
        <form [formGroup]="newBandForm" >
          <h5> <input formControlName="name" value = "{{bandData.name}}" >  </h5>
          <h5>
            <p> <select formControlName="genre"  tabindex="1" class="form-control" placeholder="Genre" value="{{bandData.genre}}">
              <option> rock </option>
              <option> punk </option>
              <option> classic </option>
            </select> </p>
          </h5><br>
          <p> <textarea  formControlName="description" value = " {{bandData.description}} "></textarea> </p>
          <button (click)="updateBand()" type="submit"> Submit </button>
        </form>
      </section>
      <div class="clear"></div>
    </div>
  </main>
</body>-->

<div class="wrapper">
  <div class="userDiv">
    <h2> EDIT MY BAND </h2><br>

        <form method="post" role="form" [formGroup]="newBandForm">
          <div class="Details">
              <ul class="container details">
                <h3> {{bandData.name}}  </h3> <br><br>
                <li><p><span class="glyphicon glyphicon-music"></span> <input  formControlName="name" value="{{bandData.name}}"> </p></li>
                <li><p><span class="glyphicon glyphicon-tag"></span>
                  <select formControlName="genre"  tabindex="1" class="form-control" placeholder="Genre" value="{{bandData.genre}}">
                    <option> rock </option>
                    <option> punk </option>
                    <option> classic </option>
                  </select></p>
                </li>

                <li><p><span class="glyphicon glyphicon-comment"></span>
                  <textarea  formControlName="description" value = " {{bandData.description}} "></textarea>
                </p></li>
              </ul> <br><br>
          </div>

          <div class="photo">
            <img [src]="imageUrl">
            <input formControlName="icon" type="file" #Image accept="image/*" (change)="handleFileInput($event.target.files)">
          </div> <br><br>

          <button (click)="updateBand()" type="submit"> Submit </button>
        </form>

    <div class="clear"></div>
  </div>

</div>


