*{
  display: block;
}
form{
  width: 100%;
}
textarea{
  width: 50%;
}
input{
  font-size:14px;
  width: 50%;
}
select{
  width: 50%;
}

label {
  font-size: 14px;
}
.custom-file-label{
  width: 50%;
}
