<div class="col-xs-12">
      <h1>Add New Band</h1>
      <form (ngSubmit)="onSubmit()">
          <label> Band name: </label> <input type="text" [(ngModel)]="name" name="bandName"><br>
          <label> Genre: </label>
            <select [(ngModel)]="genre" name="genre">
              <option> Rock </option>
              <option> Punk </option>
              <option> Jazz </option>
            </select><br>
          <label> Description: </label>
          <textarea [(ngModel)]="description" name="description"></textarea><br>
        <label> Members Emails (seperated by comma): </label> <input type="text" [(ngModel)]="members" name="members"><br>
          <div class="custom-file mb-3">
            <input  (change)="onFileChange($event)" type="file" ngModel name="icon" class="custom-file-input">
            <label for="file" class="custom-file-label"> Add band photo </label><br>
          </div><br>
          <input type="submit" value="Submit" class="btn btn-primary">
      </form>
</div>
