#sound-player {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: #1b1d25;
  padding: 20px;
  color:white;
}

#sound-player img {
  width: 60px;
  height: 60px;
  border-radius:500px;
}

#sound-player audio {
  width:100%;
}
#sound-player .icons {
  font-size: 20px;
}

#sound-player .icons .glyphicon {
  /*font-size: 15px;*/
  margin-right:5px;
}

h3, p {
  position:relative;
  top:10px;
  color:white;
  line-height: 1;
}

h3 .glyphicon {
  font-size:30px;
}
