<div *ngIf="!isInit" id="sound-player">
  <div class="col-md-3">
    <div class="col-md-3">
    <img [src]="icon">
    </div>
      <div class="col-md-9">
    <h3>{{title}}</h3>
    <p>{{bandName}}</p>
    </div>
  </div>
  <div class="col-md-7">
    <audio controls [src]="currentAudioUrl" autoplay>
    </audio>
  </div>
  <div class="col-md-2" style="text-align:center">
    <h3>
    <span (click)= "addToFavorite()" *ngIf="!favorited" class="glyphicon glyphicon-heart-empty"></span>
      <span *ngIf="favorited" class="glyphicon glyphicon-heart"></span>
    </h3>
  </div>
</div>
