*{
  margin: 0px;
  padding: 0px;
}
ul{
  height:100%;
  margin-top: 50%;
}
#logo{
  display: block;
  background: url('../../assets/BanditLogo.png') no-repeat;
  width:100px;
  height:100px;
  position:absolute;
  margin-top: 2%;
}
#menu{
  background-color: #191970;
  width: 18%;
  float: left;
  height:100%;
  bottom: 0;
  position: fixed;
}
a{
  color: white;
  text-decoration: none;
}
a:hover{
  color: #FF8C00;
  text-decoration: none;
}
a.active{
  color:#FF8C00;
}
li{
  padding: 10%;
  list-style-type: none;
  padding-left: 30px;
}
li.active{
  background-color: #708090;
}
li:hover{
  background-color: #708090;
}
.line{
  border-bottom: 1px solid white;
  padding-bottom: 20%;
}
span{
  color: orange;
  margin-right: 4%;
}

