<nav id="menu">
  <a routerLink="/" id="logo"></a>
  <ul>
    <li> <span class="glyphicon glyphicon-search"></span> <a routerLink="/" >EXPLORE</a>
    </li>
    <li > <a routerLink="/studio" >MY STUDIO</a> </li>
    <li > <a routerLink="/favoriets" >FAVORITES</a> </li>
    <li class="line" ><a routerLink="/board" >THE BOARD</a> </li>
    <li *ngFor="let band of bands" style="color:white;">
      <a routerLink="{{'/band/'+band._id}}">{{band.name}}</a>
    </li>
    <li class="line" ><a routerLink="/new-band" >CREATE NEW BAND</a> </li>
    <li ><a routerLink="/invite-friend" >INVITE A FRIEND</a> </li>
    <li ><a routerLink="/profile" >MY PROFILE</a> </li>
  </ul>
</nav>



