<nav id="menu">
  <a routerLink="/index" id="logo"></a>
  <ul>
    <li routerLinkActive="active"><a routerLink="/index" routerLinkActive="active">EXPLORE</a> </li>
    <li routerLinkActive="active"> <a routerLink="/studio" routerLinkActive="active">MY STUDIO</a> </li>
    <li routerLinkActive="active"> <a routerLink="/favoriets" routerLinkActive="active">FAVORIETS</a> </li>
    <li class="line" routerLinkActive="active"><a routerLink="/board" routerLinkActive="active">THE BOARD</a> </li>
    <li class="line" routerLinkActive="active"><a routerLink="/new-band" routerLinkActive="active">CREAT NEW BAND</a> </li>
    <li routerLinkActive="active"><a routerLink="/invite-friend" routerLinkActive="active">INVITE A FRIEND</a> </li>
    <li routerLinkActive="active"><a routerLink="/profile" routerLinkActive="active">MY PROFILE</a> </li>
  </ul>
</nav>



