
<body>
<div id="wrapper">
<app-menu></app-menu>
  <main>
    <div class="logout">
       {{firstName}} {{lastName}}
      <button  (click)="logout()"> Log Out </button>
    </div>
    <div class="search-box">
      <input type="text" name="" placeholder="Searh Library"> <span class="glyphicon glyphicon-search"></span>
    </div>
    <div class="topRight">
      <div> TOP 5 SONGS
        <nav *ngFor="let band of bands; let i=index">
          <!--<img src="#">-->
          <!--<p> {{band.songs[0].songname}} </p>-->
        </nav>
      </div>

      <div> TOP 5 BANDS
        <!--<nav>-->
          <!--<img src="#">-->
          <!--<p> {{bands[0].bandname}} </p>-->
        <!--</nav>-->
        <!--<nav>-->
          <!--<img src="#">-->
          <!--<p> {{bands[1].bandname}} </p>-->
        <!--</nav>-->
        <!--<nav>-->
          <!--<img src="#">-->
          <!--<p> {{bands[2].bandname}} </p>-->
        <!--</nav>-->
        <!--<nav>-->
          <!--<img src="#">-->
          <!--<p> {{bands[3].bandname}} </p>-->
        <!--</nav>-->
        <!--<nav>-->
          <!--<img src="#">-->
          <!--<p> {{bands[4].bandname}} </p>-->
        <!--</nav>-->
      </div>

    </div>
    <div class="mainContainer">
      <div class="Top"> <p>TOP ARTIST THIS WEEK</p>  </div>
      <div class="mainDiv"></div><div class="mainDiv"></div><div class="mainDiv"></div><div class="mainDiv"></div>
      <div class="mainDiv"></div><div class="mainDiv"></div><div class="mainDiv"></div><div class="mainDiv"></div>
    </div>

    <div class="clear"></div>
  </main>

</div>
</body>

