
<body>
<div id="wrapper">
<app-menu></app-menu>
  <main>
    <div class="search-box">
      <input type="text" name="" placeholder="Searh Library">
      <span class="glyphicon glyphicon-search"></span>
    </div>
    <div class="topRight">
      <div><span class="glyphicon glyphicon-signal"></span>TOP 5 SONGS
        <nav>1
          <img src="../assets/BanditLogo.png">
          <p>SONG NAME</p>
        </nav>
        <nav>2
          <img src="../assets/BanditLogo.png">
          <p>SONG NAME</p>
        </nav>
        <nav>3
          <img src="../assets/BanditLogo.png">
          <p>SONG NAME</p>
        </nav>
        <nav>4
          <img src="../assets/BanditLogo.png">
          <p>SONG NAME</p>
        </nav>
        <nav>5
          <img src="../assets/BanditLogo.png">
          <p>SONG NAME</p>
        </nav>
      </div>
      <div><span class="glyphicon glyphicon-signal"></span>TOP 5 BANDS
        <nav>1
          <img src="../assets/BanditLogo.png">
          <p>BAND NAME</p>
        </nav>
        <nav>2
          <img src="../assets/BanditLogo.png">
          <p>BAND NAME</p>
        </nav>
        <nav>3
          <img src="../assets/BanditLogo.png">
          <p>BAND NAME</p>
        </nav>
        <nav>4
          <img src="../assets/BanditLogo.png">
          <p>BAND NAME</p>
        </nav>
        <nav>5
          <img src="../assets/BanditLogo.png">
          <p>BAND NAME</p>
        </nav>
      </div>
    </div>
    <div class="mainContainer">
      <div class="Top"> <p>TOP ARTIST THIS WEEK</p> </div>
      <div class="mainDiv"></div><div class="mainDiv"></div><div class="mainDiv"></div><div class="mainDiv"></div>
      <div class="mainDiv"></div><div class="mainDiv"></div><div class="mainDiv"></div><div class="mainDiv"></div>
    </div>

    <div class="clear"></div>
  </main>

</div>
</body>

