<body>
<app-menu></app-menu>
<main>
  <div class="topBand">
    <img src="..\assets\bandPic.png">
    <section>
      <h3>BAND NAME <span class="glyphicon glyphicon-pencil"></span></h3>
      <p>djskdjks  jkdjdkljd, uovnmfwmek.</p>
    </section>
    <nav class="members">
      <h3>MEMBERS</h3>
      <nav>
        <img src="..\assets\persona.png"> <P>NOA MENDEZ</P>
      </nav>
      <nav>
        <img src="..\assets\persona.png"> <P>NOA MENDEZ</P>
      </nav>
    </nav>
    <nav class="songs">
      <h3>SONGS</h3>
      <nav>
        <img src="..\assets\BanditLogo.png">
        <p>SONG NAME</p>

      </nav>
      <nav>
        <img src="..\assets\BanditLogo.png">
        <p>SONG NAME</p>
      </nav>
    </nav>
      <div class="clear"></div>
  </div>



</main>

</body>

