<body>
<app-menu></app-menu>
  <main>
    <div class="topBand">
      <img src={{bandData.icon}}>
      <section>
        <h3>{{bandData.name}}
          <a (click)="goToEdit()">
            <span class="glyphicon glyphicon-pencil"></span>
          </a>
        </h3><br>

        <h5> <span class="glyphicon glyphicon-tag"></span> {{bandData.genre}} </h5>
        <p>{{bandData.description}}</p>
      </section>

      <nav class="members">
        <h3>MEMBERS</h3>
        <nav *ngFor="let member of bandData.members">
          <img src={{member.icon}}> <P>{{member.firstName}} {{member.lastName}}</P>
        </nav>
      </nav>
      <nav class="songs">
        <h3>SONGS</h3>
        <nav *ngFor="let song of bandData.songs">
          <a href="{{'/songstudio/?id='+song._id}}">
            <img src={{bandData.icon}}>
            <p>{{song.title}}</p>
          </a>
        </nav>
        <nav>
            <p (click)="createNewSong()">Create New Song</p>
        </nav>
      </nav>
        <div class="clear"></div>
    </div>
  </main>
</body>

